Nombre=nivel1
# CajaX=[Nombre],[Simbolo],[Instancias],[PosX],[PosY]
Caja1=Flores,F,3,23,5
Caja2=Hongos,H,2,7,4
Caja3=Monedas,M,4,21,2
orquestador=127.0.0.1:2345
TiempoChequeoDeadlock=10000
Recovery=1
Enemigos=5
Sleep_Enemigos=50
algoritmo=RR
quantum=3
retardo=500
remainingDistance=50;